<footer>
    <div class="container">
        <p class="text-center">
            <a href="#">关于我们</a>
            <a href="#">头条客户端</a>
        </p>
        <p class="text-center">© 2018-2027 健身头条</p>
    </div>

    <div id="quick-download">
        <button type="button" class="close-link btn-link" data-toggle="modal" data-target="#quick-download-app-modal"><i
                class="fa icon-times-circle"></i></button>
        <!--<a class="download-link" href="http://wpx.com/download">-->
        <!--<h3>健身头条</h3>-->
        <!--<h4>健身er的学习分享平台</h4>-->
        <!--<button type="button" class="btn btn-info btn-sm">下载 APP</button>-->
        <!--</a>-->
    </div>
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/main/base/base.js"></script>
    <script type="text/javascript" src="/scripts/main/base/util.js"></script>
    <script type="text/javascript" src="/scripts/main/base/event.js"></script>
    <script type="text/javascript" src="/scripts/main/base/upload.js"></script>
    <script type="text/javascript" src="/scripts/main/component/component.js"></script>
    <script type="text/javascript" src="/scripts/main/component/popup.js"></script>
    <script type="text/javascript" src="/scripts/main/component/popupLogin.js"></script>
    <script type="text/javascript" src="/scripts/main/component/upload.js"></script>
    <script type="text/javascript" src="/scripts/main/component/popupUpload.js"></script>

    <script type="text/javascript" src="/scripts/main/util/action.js"></script>

    <script type="text/javascript" src="/scripts/main/site/letter.js"></script>


    <script type="text/javascript" src="/scripts/main/site/home.js"></script>

    </body></html>
</footer>

